.review-item {
    border: 2px solid rgb(128, 47, 0);
    border-radius: 10px;
    padding: 8px;
    margin: 25px;
    width: 571px;
    display: flex;
}

.review-item img {
    height: 91px;
}

.review-item-detail p {
    margin: 0;
}

.review-item-detail-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.review-item .delete-container {
    display: flex;
    align-items: center;
}

.review-item .delete-button {
    background-color: rgba(148, 142, 142, 0.568);
    border-radius: 50%;
    height: 55px;
    width: 55px;
    border: 0;
    cursor: pointer;
}

.delete-icon {
    color: rgb(204, 27, 27);
    font-size: 27px;
}